
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #e5f5f5;
}
.footer-links {
    margin: 10px 0;
}
ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
li {
    display: inline;
    text-align: -webkit-match-parent;
}
