
.hide {
  display:none
}
ul {
  flex-wrap: wrap;
  display: flex;
}
ul li {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33%;
}
ul.wordlist li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
}

