.thumbwrap {
	border: 1px solid #999;
	padding: 15px 8px 0 8px;
	background-color: #f4f4f4;
	margin: 0;
}
.container {
        max-width: 200px;
        min-width: 200px;
        width: 200px;
	margin: auto
}
.thumbwrap li {
	display: -moz-inline-box;
	display: inline-block;
	/*\*/ vertical-align: top; /**/
	margin: 0 7px 15px 7px;
	border: 1px solid #999;
	padding: 0;
}
/*  Moz: NO border qui altrimenti difficolta' con width, table altrimenti problemi a text resize (risolubili con refresh) */
.thumbwrap li>a>div {
//	display: table;
	width: 200px;
}
.thumbwrap a {
	display: block;
	text-decoration: none;
	color: #000;
	background-color: #ffe;
	cursor: pointer;
}
/*\*/
.thumbwrap>li .wrimg {
	display: table-cell;
	vertical-align: middle;
	width: 199px;
	height: 199px;
}
/**/
.thumbwrap li .wrimg {
//	background-image: url(g100c2.pl?g100c2.gif);
}
.thumbwrap img {
	border: solid 1px #66f;
	vertical-align: middle;
}
.thumbwrap a:hover {
	background-color: #dfd;
}
img {
   max-height: 200px;
}
/*\*//*/
* html .thumbwrap li .wrimg {
	display: block;
	font-size: 1px;
}
* html .thumbwrap .wrimg span {
	display: inline-block;
	vertical-align: middle;
	height: 199px;
	width: 1px;
}
/**/
.thumbwrap .caption {
	display: block;
	padding: .3em 5px;
	font-size: .9em;
	line-height: 1.1;
	border-top: 1px solid #ccc;
	w\idth: 189px;  /* Moz, IE6 */
}
/* top ib e hover Op < 9.5 */
@media all and (min-width: 0px) {
	html:first-child .thumbwrap a {
		display: inline-block;
		vertical-align: top;
	}
	html:first-child .thumbwrap {
		border-collapse: collapse;
		display: inline-block; /* non deve avere margin */
	}
}
.content {
  padding: 16px;
}

@media (min-width:320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width:481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width:641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .container {
        max-width: 470px;
        min-width: 470px;
	margin: auto
    }
}
@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
    .container {
        max-width: 940px;
        min-width: 940px;
	margin: auto
    }
}
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
}

.questionBar {
  margin-left: auto;
  margin-right: auto;
  width: 8em
}
