/* Style the header */
.stickyHeader {
  padding: 10px 16px;
  background: #414;
  color: #f1f1f1;
  width: 100%
}

.stickyHeader span {
  display: inline;
//  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
//  font-weight: bold;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  left:16px;
  right:0;
  margin-left:auto;
  margin-right:auto;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
//  padding-top: 102px;
}

.phrase {
  font-size: 2em;
  font-weight: bold;
}
